* {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E9F1F2;
}

header {
    background-color: #ffffff;
    height: 200px;
}

nav {
    background-color: #ffffff;
}

#portrait {
    background-color: teal;
}

#title {
    padding: 15px;
}

#name {
    font-size: 36px;
    line-height: 36px;
}